@font-face {
    font-family: BianZhiDai;
    src: url("../bianzhidai-Base.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: ft88-school;
    src: url("../FT88-School.woff") format('woff');
    font-style: normal;
}

@font-face {
    font-family: ft88-gothique;
    src: url("../FT88-Gothique.woff") format('woff');
    font-style: normal;
}

@font-face {
    font-family: ft88-italic;
    src: url("../FT88-Italic.woff") format('woff');
    font-style: normal;
}

@font-face {
    font-family: ft88-serif;
    src: url("../FT88-Serif.woff") format('woff');
    font-style: normal;
}

@font-face {
    font-family: abordage;
    src: url("../Abordage-Regular.woff") format('woff');
    font-style: normal;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

body { 
 background-color: #120D31 !important;
 background: #120D31 !important;
 color: #F0D3F7 !important;
 font-family: abordage
}

a { 
 color: #CBF3D2 !important;
 font-family: ft88-italic;
}

.site-title {
  color: #CBF3D2 !important;
  font-family: ft88-school, sans-serif;
}

.post-meta {
  color: #B98EA7 !important;
}

pre, code {
  background-color: #302F4D !important;
  background: #302F4D !important;
}
